###############################################
# COMMON
###############################################
.git/
.vscode/
node_modules/

*.log
*.*ignore
package-lock.json

###############################################
# SPECIALIZATION
###############################################
cpp/
src/

*.js.map
tsconfig.json