# ======================================================
#	TYPESCRIPT
# ======================================================
.git
api\
design\
handbook\

cpp\
ts\
flex\

node_modules\

*.bat
*.log
*.*ignore

build.js