# ======================================================
#	NPM
# ======================================================
node_modules
build.js

# ======================================================
#	TYPESCRIPT
# ======================================================
tsconfig.json

.vs
bin
obj
src

*.html
*.sln
*.gitignore
*.*proj
*.user