# ======================================================
#	NPM
# ======================================================
node_modules

# ======================================================
#	TYPESCRIPT
# ======================================================
tsconfig.json
.gitignore

.vscode
build
src