body{
  background-color: white;
}

.talk-title {
  border: 0;
  color: white;
  padding: 10px;
}

.user-info{
  color: white;
  background-color: #000;
  position: absolute;
  bottom: 0;
  /*margin: 2.5rem;*/
  padding: 2.5rem;
  left: 0;
  right: 0;
}

.chat-room-item{
 
  margin: 1.5rem;
  
  color: white;
  height: 200px;
}

/*.chat-room-item:hover{
  background-color: #666;
}*/

.chat-room-item table{
  color: white;
}
