body{
  background-color: white;
}

.talk-title {
  border: 0;
  color: white;
  padding: 10px;
}

.user-info{
  color: white;
  background-color: #000;
  position: absolute;
  bottom: 0;
  /*margin: 2.5rem;*/
  padding: 2.5rem;
  left: 0;
  right: 0;
}